body
{
    margin: 0;
    min-height: 100vh;
    font-size: 100%;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    background-image: url("http://localhost/ci_village_green/assets/images/BACKGROUND/background_village.png");
    /* background-color: #002B53; */
}

#navbar
{
    background-color: #fff;
}

#navbar-logo, #navbar-logo img
{
    max-height: 4rem;
    width: auto;
}

#navbar .text-deco-hover:hover
{
    text-decoration: underline;
}

#product-card
{
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

.bg-grey
{
    background-color: rgb(166, 166, 166);
    backdrop-filter: blur(2px);
    box-shadow: none;
}

.blue-link
{
    background-color: #002B53; 
}

.blue-link:hover
{
    background-color: rgb(237, 146, 35, 0.9);
    transition: all 200ms ease-out;
}

.green-hover:hover
{
    background-color: rgb(25, 135, 84) !important;
    transition: all 200ms ease-out;
}

.product-card-title
{
    font-size: 0.8rem;
}

#product-card-sec-row
{
    min-height: 6.5rem;
}

.table-rounded
{
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    
    #submit, #table-orders, #table-order-details
    {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    
    #table-order-details
    {
        font-size: 0.6rem;
    }

    #table-order-details tfoot
    {
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 576px) {

    #product-card
    {
        margin-top: 0 !important;
    }
    
    #product-card-sec-row div.bord-cus
    {
        border-top: none !important;
    } 

    #buttons .bord-cus
    {
        border-right: none !important;
    }

}
